language: python
python:
  - "2.7"

sudo: required

services:
  - docker

before_install:
  - sudo apt-get -y install curl python-software-properties software-properties-common python-pip python-dev build-essential git make
  - sudo apt-get -y install libkrb5-dev netcat mysql-client-5.5
  - sudo pip install avocado-framework
  - pip install avocado-framework

install: sudo make install

script:
  - sudo make -C examples/testing-module check-inheritance
  - sudo make -C examples/testing-module check-default-config
  - sudo make -C examples/testing-module check-pure-docker
  - sudo make -C examples/testing-module check-exceptions
  - sudo make -C examples/testing-module check-test-mtf-bin-modulelint
  - sudo make travis
  - sudo make -C examples/testing-module check-docker-scl-multi-travis
  - sudo make -C examples/testing-module check-real-rpm-destructive

after_script: sudo cat ~/avocado/job-results/latest/job.log
