include MANIFEST.in
include Makefile
include LICENSE
include Vagrantfile
include README.md
include CONTRIBUTING.md
include requirements.txt
recursive-include moduleframework *
recursive-include docs *
recursive-include examples *
recursive-include tools *
recursive-include distro *
recursive-include man *
recursive-include build_manpages *.py
