include MANIFEST.in
include Makefile
include LICENSE
include Vagrantfile
include README.md
recursive-include moduleframework *
recursive-include docs *
recursive-include examples *
recursive-include tools *
recursive-include distro *
