# Example from http://www.haproxy.org/download/1.3/examples/antidos.cfg

# This configuration is meant to be installed in front of an existing web
# server that needs some DoS protection. We assume that the web server has been
# moved to port 8080 on the loopback, and that haproxy 1.3.18 is running on
# port 80. Note that Apache will have to be configured to get the client's IP
# address from the X-Forwarded-For header (mod_rpaf can do that).

global
	daemon
	maxconn 256

defaults
	mode http
	timeout connect 5000ms
	timeout client 50000ms
	timeout server 50000ms

frontend http-in
	bind :80
	default_backend servers

backend servers
	server server1 127.0.0.1:8000 maxconn 32
	server server2 127.0.0.1:8001 maxconn 32

